<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome!</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We think you'll like it here.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Why don't you check out the \u003cstrong\u003emajor\u003c/strong\u003e you're interested in?","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Why don't you check out the <strong>major</strong> you're interested in?</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find Your Major","linkObject":{"url":"/programs"},"colorName":"dark-orange"} -->
<a href="/programs" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange">Find Your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Transportation","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Free Transportation</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"All students have free unlimited bus fare.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">All students have free unlimited bus fare.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium","colorName":"dark-orange"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--dark-orange">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"An Apple a Day","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">An Apple a Day</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Our dentistry program recommends eating apples.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Our dentistry program recommends eating apples.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Free Food","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">Free Food</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Fictional University offers lunch plans for those in need.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Fictional University offers lunch plans for those in need.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->
