.link-list {
  li {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #DEDEDE;

    .search-overlay & {
      font-size: 1.3rem;
    }
  }

  li:last-child {
    border-bottom: none;
  }

  a {
    color: $darkOrange;
  }
}