.metabox {
  background-color: $beige;
  border-radius: 3px;
  padding: 10px 15px;
  display: inline-block;
  margin-bottom: 30px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);

  &--position-up {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }

  &--with-home-link {
    padding: 0;
  }

  &__main {
    padding: 10px 15px 10px 11px;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
  }

  a {
    color: adjust-color($beige, $lightness: -45%, $saturation: -33%);
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }

  & &__blog-home-link {
    background-color: $mainBlue;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 3px 0 0 3px;
    font-weight: normal;
  }

  & &__blog-home-link:hover {
    text-decoration: none;
    background-color: adjust-color($mainBlue, $lightness: -5%);
  }
}
